// =======================================
// =============== colors ================
// =======================================
$color1: #7ed56f;
$color2: #55c57a;
$color3: #28b485;
$color-grey: #777;
$color-white: #fff;
$color-black: #000;
$color-bg-light: #f7f7f7;
$color-bg-light2: #f3f3f3;
$color4-light:#ffb900;
$color4-dark:#ff7030;

// =======================================
// =============== grids =================
// =======================================
$row-width:114rem;
$gutter-vh:8rem;
$gutter-hr:3rem; 



    
