.card{
    height: 53rem;
    position: relative;
    perspective: 150rem;
    -moz-perspective: 150rem;
    &-side{
        width: 100%;
        height: 53rem;
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        color:#fff;
        transition:all .8s;
        backface-visibility:hidden;
        -webkit-backface-visibility:hidden;
        border-radius:3px;   
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
        
        &-front {
            background: $color-white;    
             
        }   

        &-back {
            
            transform: rotateY(180deg);
            &-1{
                background:linear-gradient(to right bottom, #ffb900, #ff7030);
            }
            &-2 {
                background: linear-gradient(to right bottom, $color1, $color3);
            }
            &-3 {
                background: linear-gradient(to right bottom, #8c00ff, #d059ff);
            }
        }

        

    }
    &:hover &-side-front {
        transform: rotateY(-180deg);
    }

    &:hover &-side-back {
        transform: rotateY(0deg);
    }

    &-img{
        background-size: cover;
        height: 23rem;
        background-blend-mode: screen;
        clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);
    


        &-1{
            background-image: linear-gradient(to right bottom, #ffb900, #ff7030) ,url(../img/nat-5.jpg);
        }

        &-2 {
            background-image: linear-gradient(to right bottom, $color1, $color3), url(../img/nat-6.jpg);
        }
        &-3 {
            background: linear-gradient(to right bottom, #8c00ff, #d059ff),url(../img/nat-7.jpg);
            background-size: cover;
        }
    }
    &-heading{
        position: absolute;
        font-size:2.8rem;
        font-weight: 300;
        top: 13rem;
        right: 2rem;
        text-transform: uppercase;
        text-align: right;
        width: 75%;
        
        
    }
    &-heading-span{
        padding: 1rem 1.5rem;
        box-decoration-break: clone;
        -webkit-box-decoration-break: clone;
        
        &-1{
            background:linear-gradient(to right bottom, rgba(255, 187, 0, 0.808), rgba(255, 114, 48, 0.808));
        }
        &-2 {
            background: linear-gradient(to right bottom, rgba($color1, 0.808), rgba($color3, 0.808));
        }
        &-3 {
            background: linear-gradient(to right bottom, #8c00ff, #d059ff);
        }
    }
    &-details{
        padding: 3rem;
        ul{
            list-style: none;  
            width: 80%;
            margin: 0 auto;
            
            li{
                color:$color-grey;
                padding: 1rem;
                &:not(:last-child){
                    border-bottom: 1px solid #eee;
                }

            }
        }
    }
    
    &-cta{
        position: absolute;
        top: 50%;
        left: 50%;
        transform:translate(-50%, -50%);
        text-align: center;
        color:$color-white;
        width: 90%;
        text-transform: uppercase;
    }
    &-price-only{

    }
    &-price-value{
        font-size: 6rem;
        font-weight: 100;

    }
    // ====================================================
    // ====================================================
    // ====================================================

    // @include respons(px900) {
    @media only screen and (max-width:56.25em),
    only screen and (hover: none) {
        height: auto;
        background: #fff;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

        &-side {
            width: 100%;
            height: auto;
            position: relative;
            box-shadow: none; 

            &-back {
                transform: rotateY(0deg);
                clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
            }
        }

        &:hover &-side-front {
            transform: rotateY(0deg); 
        }

        &:hover &-side-back {
            transform: rotateY(0deg);
        }



        &-cta {
            position: relative;
            top: 0%;
            left: 0%;
            transform: translate(0);
            width: 100%;
            padding: 3rem;
            .btn{
                margin-top: 3rem;
            }

        }

        &-price-only {
            margin-top: 2rem;
        }

        &-price-value {
            font-size: 5rem;
            font-weight: 200;
            @include respons(px768){
                font-weight: 300;
            }

        }
    }
 
}
    

