.feature-box{
    background-color: rgba($color-white, .8);
    padding: 2.5rem;
    text-align: center;
    font-size:1.5rem;
    transition:transform .3s;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    border-radius:3px;

    &-icon{
        font-size:6rem;
        margin-bottom: 0.5rem;
        background:linear-gradient(to right, $color1, $color3);
        display: inline-block;
        -webkit-background-clip: text;
        color:transparent;
    }
    &:hover{
        transform:translateY(-1.5rem) scale(1.06)
    }
}