.u-center-text{text-align: center;}
.u-mb-8{margin-bottom: 8rem;
  @include respons(px768) {
      margin-bottom: 6rem;
  }
  @include respons(px575) {
      margin-bottom: 4rem;
  }
  @include respons(px480) {
      margin-bottom: 2rem;
  }
}
.u-mb-4{margin-bottom: 4rem;}
.u-mt-8{margin-top: 8rem;
  @include respons(px768) {
      margin-top: 6rem;
  }

  @include respons(px575) {
      margin-top: 4rem;
  }
  @include respons(px480) {
      margin-top: 2rem;
  }
}
.u-mt-4{margin-top: 4rem;}  
.u-mb-2{margin-bottom: 2rem;}
.u-mt-2{margin-top: 2rem;}